@font-face {
    font-family: 'Montserrat';
    font-style:normal;
    src: local("Montserrat"), url(../../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 100 900;
    src: local("Montserrat Italic"), local("Montserrat-Italic"),
     url(../../assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf) format('truetype');
}

@font-face{
    font-family: 'Allura';
    font-style:normal;
    font-weight: 400;
    src: local('Allura'), url(../../assets/fonts/Allura/Allura-Regular.ttf) format('truetype');
}

:root{
    --first-font: 'Montserrat', sans-serif;
    --second-font: 'Allura', sans-serif;
    --primary: #ff4646;
    --dark: #181c29;
    --static-white: #fff;
    --content-background: #ecf3f8;
    --tag-purple: #4361ff;
    --tag-pink: #ff43f7;
    --tag-green: #06a44f;
    --primary-10: rgba(255, 70, 70, 0.1);
    --static-white-20: rgba(255, 255, 255, 0.2);
    --static-white-40: rgba(255, 255, 255, 0.4);
    --overlay:rgba(24, 28, 41, 0.8); 
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.layout-container{
    max-width: 90rem;
    width: 100%;
    margin: 0 auto;
}

.header{
    max-width: 79.75em;
    margin: 0 auto;
    display: flex;
    padding: 0.75em 0;
    justify-content: space-between;
    background-color: var(--static-white);
}

.logo-container{
    padding: 0.5em 1.25em;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.logo-title, 
.menu-item,
.button {
    font-style: normal;
    font-weight: 600;
    font-size: 0.75em;
    line-height: 130%;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.0483em;
    text-transform: uppercase;
    color:var(--dark);
}

.nav-menu{
    max-width: 23.4375em;
    width: 100%;
}

.menu-list{
    height: 100%;
    list-style-type:none;
    display: flex;
    justify-content:space-between;
}

.menu-item{
    padding: 1em 1.6667em;
}

.Hero>.background-container>.content-container{
    max-width: 26.625em;
    margin: 0 auto;
    padding: 7.5em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.75em;
}

.caption{
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 100%;
    letter-spacing: 0.05em;
    font-family: 'Allura', sans-serif;
    text-transform:capitalize;
    color:var(--static-white);
}

.header1{
    font-style: normal;
    font-weight: 600;
    font-size: 2em;
    line-height: 150%;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.175em;
    text-transform: uppercase;
    text-align: center;
    color: var(--static-white);
}

.button{
    line-height: 134%;
    text-decoration: none;
    color: var(--static-white);
    padding: 1.667em 2.667em;
    border-radius: 1.5em;
    border-width: 0;
    background-color: var(--dark);
    transition: color 0.5s ease-in-out, background-color 0.3s ease-in;
}

.button:hover{
    color: var(--dark);
    background-color: var(--static-white);
    cursor:pointer;
}

/* Background color&images*/
.main{
    background-color: var(--primary);
    border-radius: 1.5em;
}

.Hero{
    background-image: url('../../assets/images/bg-snow.png');
    background-size: cover;
    background-position: center;
}

.background-container {
    background-image: url(../../assets/images/bg-ball.png);
    background-size: cover;
    background-position: center;
}
