@font-face {
    font-family: 'Montserrat';
    font-style:normal;
    src: local("Montserrat"), url(../../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 100 900;
    src: local("Montserrat Italic"), local("Montserrat-Italic"),
     url(../../assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf) format('truetype');
}

@font-face{
    font-family: 'Allura';
    font-style:normal;
    font-weight: 400;
    src: local('Allura'), url(../../assets/fonts/Allura/Allura-Regular.ttf) format('truetype');
}

html{
    scroll-behavior: smooth;
}

:root{
    --first-font: 'Montserrat', sans-serif;
    --second-font: 'Allura', sans-serif;
    --primary: #ff4646;
    --dark: #181c29;
    --static-white: #fff;
    --content-background: #ecf3f8;
    --tag-purple: #4361ff;
    --tag-pink: #ff43f7;
    --tag-green: #06a44f;
    --primary-10: rgba(255, 70, 70, 0.1);
    --static-white-20: rgba(255, 255, 255, 0.2);
    --static-white-40: rgba(255, 255, 255, 0.4);
    --overlay:rgba(24, 28, 41, 0.8); 
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.layout-container{
    max-width: 90rem;
    width: 100%;
    margin: 0 auto;
}

.header{
    max-width: 79.75em;
    margin: 0 auto;
    display: flex;
    padding: 0.75em 0;
    justify-content: space-between;
    background-color: var(--static-white);
}

.logo-container{
    padding: 0.5em 1.25em;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.logo-title, 
.menu-item,
.tab-item,
.card-caption {
    font-style: normal;
    font-weight: 600;
    font-size: 0.75em;
    line-height: 130%;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.0483em;
    text-transform: uppercase;
    color:var(--dark);
}

.nav-menu{
    max-width: 23.4375em;
    width: 100%;
}

.menu-list,
.tabs-list{
    height: 100%;
    list-style-type:none;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.tabs-list{
    max-width: 29.625em;
    width: 100%;
    height: 2.5em;
}

.tab-item>.link{
    color: var(--static-white);
}

.menu-item>.link,
.tab-item>.link {
    padding: 1em 1.6667em;
    transition: background-color 0.3s ease-in, color 0.5s ease-in-out;
    border-radius: 0.75em;
}

@media(hover:hover){
    .menu-item:nth-child(2) .link:hover,
    .menu-item:nth-child(3) .link:hover,
    .menu-item:last-child .link:hover{
        color:var(--primary);
        background-color: var(--primary-10);
        cursor: pointer;
    }

    .tab-item:nth-child(2):hover>.link,
    .tab-item:nth-child(3):hover>.link,
    .tab-item:last-child:hover>.link{
        color:var(--static-white);
        background-color: var(--static-white-20);
        cursor: pointer;
    }

    .menu-item:nth-child(2):hover,
    .menu-item:nth-child(3):hover,
    .menu-item:last-child:hover{
        cursor:pointer;
    }

    .tab-item:nth-child(2):hover,
    .tab-item:nth-child(3):hover,
    .tab-item:last-child:hover{
        cursor:pointer;
    }
}

.menu-item:first-child>.link{
    background-color: var(--primary-10);
    border-radius: 0.75em;
    cursor:default;
    color:var(--primary);
}

.tab-item:first-child>.link{
    background-color: var(--static-white-20);
    border-radius: 0.75em;
    cursor:default;
}
/* Background color&images*/
.main{
    background-color: var(--primary);
    border-radius: 1.5em;
    overflow-x: hidden;
}

.Gifts{
    background-image: url(../../assets/images/bg-garland.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

.Gifts{
    padding: 3.75em 0;
    display: flex;
    flex-direction: column;
    align-items: center;;
    gap: 1.25em;
}


.caption{
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 100%;
    letter-spacing: 0.05em;
    font-family: 'Allura', sans-serif;
    text-transform:capitalize;
    color:var(--static-white);
}

.h,
.card-name{
    font-style: normal;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.h1{
    font-size: 2em;
    line-height: 150%;
    letter-spacing: 0.175em;
    text-align: center;
    color: var(--static-white);
    max-width: 13.3125em;
}

.h2{
    font-size: 1.5em;
    line-height: 152%;
    letter-spacing: 0.16em;
    color: var(--static-white);
}

.image{
    display: block;
    border-radius: 1.5em;
}

.card-caption.work{
    color: var(--tag-purple);
}

.card-caption.harmony{
    color: var(--tag-pink);
}

.card-caption.health{
    color: var(--tag-green);
}

.card-name{
    font-size: 1em;
    line-height: 152%;
    letter-spacing: 0.08em;
    color:var(--dark);
    transition: color 0.3s ease;
}

.card-image{
    width:19.375em;
}

.card{
    max-width: 19.375em;
    background-color: var(--content-background);
    border-radius: 1.25em;
    display: inline-flex;
    flex-direction: column;
}

.card-text{
    flex-basis: 7em;
    background-color: var(--static-white);
    border-radius: 1.25em;
    padding: 1.25em;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.5em;
}

@media(hover:hover){
    .card:hover {
        cursor: pointer;
    }
    
    .card:hover .card-name{
        color:var(--primary);
    }
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.75em;
}

/* Footer section end */
.footer{
    padding: 3.75em 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.75em;
}

.paragraph{
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 148%;
    font-family: 'Montserrat', sans-serif;
    color:var(--dark);
}

.footer-image{
    width: 5em;
}

.link{
    text-decoration: none;
}

.menu-item>.link,
.contacts .h2,
.contacts .link,
.footer .caption>.link{
    color: var(--dark);
}

.contacts{
    width: 100%;
    max-width: 79.75em;
    display: flex;
    justify-content: stretch;
    flex-grow: 1;
    gap: 0.75em
}

.contacts>.link{
    height: 12.75em;
    width: 33%;
}

.contact-card{
    width: 100%;
    padding: 1.25em 0;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.75em;
    background-color: var(--content-background);
    border-radius: 1.25em;
    flex-grow: 1;
}

.contact-card .h,
.contact-card:hover .link,
.school-link{
    transition: color 0.3s ease-in;
}

@media(hover:hover){
    .contact-card:hover .h,
    .contact-card:hover .link,
    .info-container>.caption:hover .school-link{
        color:var(--primary);
    }

    .contact-card:hover{
        cursor: pointer;
    }
}

.socials{
    display: flex;
    justify-content: center;
    gap: 0.75em;
}

.social-container{
    max-width: 2.5em;
    max-height: 2.5em;
}

.social-container>a>svg{
    margin: 0.5em;
}

.social-container path{
    transition: stroke 0.5s ease-out;
}

@media(hover:hover){
    .social-container:hover svg>path{
        stroke:var(--primary);
    }
    
    .social-container:hover{
        cursor: pointer;
    }
}

.info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75em;
}

.burger-button{
    display:none;
}
/* Footer section end */


/*****************************************************************************************/
/*Responsive Start*/

@media(max-width: 1440px){
    .Gifts{
        padding: 3.75em 4.25em;
    }
}

@media(max-width:1060px){
    .footer{
        padding: 3.75em 0.5em;
    }

    .contacts{
        flex-wrap: wrap;
    }

    .contacts>.link{
        width: 100%;
    }
}

@media(max-width: 768px){
    .header{
        padding: 0.75em 0.5em;
    }

    .nav-menu{
        display:none;
    }

    .burger-button{
        display:block;
        width: 3em;
        position: relative;
        border:none;
        background-color: transparent;
    }

    .burger-line{
        display:block;
        position: absolute;
        left: 0.75em;
        width: 1.5em;
        height: 0.08em;
        background-color: var(--dark);
    }

    .burger-line:first-child{
        top: 1.2em;
        transform: translateY(-50%);
    }

    .burger-line:last-child{
        bottom: 1.2em;
        transform: translateY(50%);
    }

    .Gifts{
        padding: 3.75em 0.5em;
    }
}

@media(max-width: 480px){
    .tab-item>.link {
        padding: 1em 0.669em;
    }

    .tabs-list{
        padding: 0 0.188em;
    }
}